@import '../index.scss';
$header-height: 60px;
$sidebar-width: 300px;

.todo {
    display: grid;
    grid-template-rows: $header-height calc(100vh - $header-height);
    grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);

    &__header {
        grid-row: 1/2;
        grid-column: 1/-1;
    // grid-row-start: 1;
    // grid-row-end: 2;
    // grid-column-start: 1;
    // grid-column-end: -1;
    background-color: pink;
    }

    &__sidebar {
        grid-row: 2/-1;
        grid-column: 1/2;
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 1;
    // grid-column-end: 2;
    // grid-column: 1 / span 1;
    background-color: lightsalmon;
    }

    &__content {
        grid-row: 2/-1;
        grid-column: 2/-1;
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 2;
    // grid-column-end: -1;
    background-color: lightgreen;
    }
    
}

// .todo__header {}

// .todo__sidebar {}

// .todo__content {}

// Header
