@import '../index.scss';

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 20px;
    background-color: $primary;
    height: $header-height;

    &__logo {
        // display: flex;
        // cursor: pointer;
        // font-size: 24px;
        font-size: 2.4rem;
        color: $white;
        display: flex;

    }

    &__text {
        flex: 1;
        color: $white;
    }

    &__search {
        min-width: 300px;
    }
}

// import global.scss
.search {
    position: relative;
    border-radius: 4px;

    // magnify-icon
    &__icon {
        // position
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);

        // decorate
        font-size: 1.6rem;
        font-weight: 200;
        color: grey;

        // control-child
        display: flex;
    }

    &__input {
        width: 100%;
        padding: 5px;
        padding-left: 30px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        font-size: 1.6rem;
        outline: none;
        color: $grey-dark;
    }
}